.posts {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    margin: 10px;
    transition: all 0.3s; /* Add a smooth transition for hover effect */
  }
  
  .posts:hover {
    transform: scale(1.05); /* Enlarge the post on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the shadow on hover */
  }
  
  h1 {
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 10px 0;
  }
  
  h2 {
    font-size: 16px;
    color: #888;
    margin: 0;
    padding: 10px 0;
  }