:root {
    --btn-size: 50px;
    --btn-arrowsize: calc(var(--btn-size) / 4);
    --btn-color: #fff;
    --btn-border: #fff;
    --btn-bg: #0056b3;
    --btn-bg-hover: #333;
    --btn-hover-border-color: #555;
    --btn-hover-color: #fff;
}


@keyframes moveArrow {
    0% {
      top: 20px; /* Starting position (top) */
    }
    50% {
      top: 35px; /* Middle position (adjust as needed) */
    }
    100% {
      top: 20px; /* Ending position (back to the top) */
    }
  }

.arrowbtn {
    position: fixed;
    width: var(--btn-size);
    height: var(--btn-size);
    background: var(--btn-bg);
    border: 2px solid var(--btn-border);
    border-radius: 50%;
    color: var(--btn-color);
    cursor: pointer;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    line-height: var(--btn-size);
    transition: all 0.25s ease-in-out;
    animation: moveArrow 2s infinite; /* Use the 'moveArrow' animation */
}

.arrowbtn::before {
    background: var(--btn-bg-hover);
    border-color: var(--btn-hover-border-color);
    color: var(--btn-hover-color);
}

.arrowbtn::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: var(--btn-arrowsize);
    height: var(--btn-arrowsize);
    top: 50%;
    left: 50%;
}

.arrowbtn-down {
    bottom: 20px;
}

.arrowbtn-down::after {
    margin-left: calc(-1 * var(--btn-arrowsize) / 2);
    margin-top: calc(-0.75 * var(--btn-arrowsize));
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
}
