.offer_1-container {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    height: 70svh;
}

.offer_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    flex-grow: 1;
    max-width: 95%;

    .offer_1-content {
        min-width: 40%;
        width: 500px;
    }

    h3 {
        font-size: clamp(4rem, 5.2vw, 5rem);
        font-weight: 800;
    }

    p {
        font-size: clamp(1.2rem, 2.7vw, 2.5rem);
        font-weight: 400;
    }

    img {
        max-width: 80%;
        height: auto;
    }
}

.offer_1-img {
    position: relative;
    overflow: hidden;
    height: auto;
    z-index: 1;
}

.background-image-offerOne {
    z-index: 0;
}

.overlay-video-offerOne {
    position: absolute;
    top: 21%;
    left: 10.5%;
    width: 58.5%;
    z-index: -1;
}
