.hero {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../public/assets/img/banner.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    // animation: fadeIn 1s ease-in-out ;
}
