.postcards-container {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    transition: left 0.5s ease;
    visibility: hidden;
}

.postcards-container.show {
    left: 2%;
    top: 6.8%;
    visibility: visible;
    animation: slideIn 1.5s ease-in-out
  }

.postcard {
    width: 400px;
    margin: 2rem 0;
}

.postcard p{
    font-size: 1.3rem;

}

.read-more a {
    color: blue;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
}


.cardHeader .MuiCardHeader-title {
    font-size: 1.4rem;
}

.cardHeader .MuiCardHeader-subheader {
    font-size: 1.1rem;
}


.like.red {
    color: red;
}

@keyframes slideIn {
    0% {
      left: -100%;
    }
    150% {
      left: 0;
    }
  }
  