.postcards-container {
    max-width: 95%;
    width: 1500px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
    gap: 100px;
    /* border: 1px solid blue; */
}

.postcard {
    /* border: 1px solid red; */
    width: 400px;
    margin: 2rem 0;
}

.postcard p{
    font-size: 1.3rem;

}

.read-more {
    color: blue;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
}

.cardHeader {
    /* margin-bottom: 160px; */
}

.cardHeader .MuiCardHeader-title {
    font-size: 1.4rem;
}

.cardHeader .MuiCardHeader-subheader {
    font-size: 1.1rem;
}

.like.MuiIconButton-root {
    /* color: red; */
}

.postcards-container {
    position: relative;
    left: 0%;
    transition: left 0.4s ease; /* Add a transition for smooth movement */
  }
  
  /* Add media query to reset left when screen size is smaller */
  @media (max-width: 768px) {
    .postcards-container {
      left: 0;
      transition: none;
    }
  }

