.offer_1-container {
    margin-top: 20rem;
}

.offer_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    // align-items: center;
    // margin-top: 20rem;
}
