.campus {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 50px;
  }
  .campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  .campus-col img {
    width: 100%;
    display: block;
  }
  .layer {
    background: linear-gradient(transparent, var(--main-color) 120%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-size 0.4s ease;
    z-index: 2;
  }
  .layer:hover {
    background-size: 100% 100%;
    z-index: 2;
  }
  .layer h3 {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.4s ease;
  }
  .layer:hover h3 {
    bottom: 50%;
    opacity: 1;
  }